name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-workflow:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: snakemake
      uses: snakemake/snakemake-github-action@v2.0.3
      with:
        directory: .
        snakefile: Snakefile
        args: "--sdm conda --configfile test/config.yaml --show-failed-logs -c 4 -p --conda-cleanup-pkgs cache"
