name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run-workflow:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: snakemake
      uses: snakemake/snakemake-github-action@v1.17.0
      with:
        directory: .
        snakefile: workflow/Snakefile
        args: "--sdm conda --show-failed-logs --cores 1 --conda-cleanup-pkgs cache"
